body{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color:blueviolet;
background-color: rgb(224, 201, 239);
}
h1{background-color: rgb(175, 92, 230);
    text-align: center;
    color:rgb(222, 210, 227)
}
    h2{text-align: center;
    }
    



figure{
    text-align:center;
    backgroud-color: rgb(205, 138, 244)
    text-aling: center;
    backgroud-color: rgb(205, 138, 244)}


 p{text-align 



} 